@page "/login"

<PageTitle>Listomora - Se connecter</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small">
    <MudPaper Elevation="6" Class="pa-8">
        <MudStack Spacing="3">
            <MudText Typo="Typo.h4" Align="Align.Center">
                Listomora
            </MudText>

            <MudText Typo="Typo.subtitle1" Align="Align.Center" Color="Color.Secondary">
                Connectez-vous à votre compte
            </MudText>

            <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <MudTextField @bind-Value="loginModel.Email"
                              For="@(() => loginModel.Email)"
                              Label="Email"
                              Variant="Variant.Outlined"
                              Immediate="true" />

                <MudTextField @bind-Value="loginModel.Password"
                              For="@(() => loginModel.Password)"
                              Label="Mot de passe"
                              Variant="Variant.Outlined"
                              InputType="PasswordInput"
                              Adornment="Adornment.End"
                              AdornmentIcon="@PasswordInputIcon"
                              OnAdornmentClick="ToggleShowPassword"
                              Immediate="true" />

                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           FullWidth="true"
                           Size="Size.Large"
                           Class="mt-4"
                           ButtonType="ButtonType.Submit"
                           Disabled="@isLoggingIn">
                    @if (isLoggingIn)
                    {
                        <MudProgressCircular Size="Size.Small" Class="me-2" Indeterminate="true" />
                        <span>Connexion...</span>
                    }
                    else
                    {
                        <span>Se connecter</span>
                    }
                </MudButton>
            </EditForm>
            @if(errorMessage is not null)
            {
                <MudText Typo="Typo.body2" Color="Color.Error">@errorMessage</MudText>
            }
            <MudDivider Class="my-2" />
            <MudText Align="Align.Center" Typo="Typo.body2">
                Pas encore de compte ?
            </MudText>
            <MudButton Variant="Variant.Outlined"
                       Color="Color.Primary"
                       Href="/register">
                Créer un compte
            </MudButton>
        </MudStack>
    </MudPaper>
</MudContainer>